* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
}

.container {
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
}

header {
  position: relative;
  overflow: hidden;
}

header a {
  text-decoration: none;
  color: var(--text-grey, #999FAE);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}

header a:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  color: #292930;
}

header .bg-circle1 {
  width: 1220px;
  height: 1220px;
  border-radius: 1220px;
  background: var(--color-primary, #5956E9);
  position: absolute;
  z-index: -1;
  overflow: hidden;
  margin-left: 830px;
  margin-top: -98px;
}

header .bg-circle2 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 400px;
  background: var(--color-accent-01, #FFDC60);
  z-index: -1;
  overflow: hidden;
  margin-top: -200px;
  margin-left: -200px;
}

header .bg-circle3 {
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 165px;
  background: var(--color-accent-01, #FFDC60);
  z-index: -1;
  overflow: hidden;
  top: 225px;
  left: 625px;
}

header .bg-circle4 {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #5956E9;
  margin-top: 760px;
  margin-left: 600px;
}

header .bg-circle5 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #ffffff;
  top: 621px;
  left: 1210px;
  z-index: -0.5;
}

header .bg-circle6 {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: #FAB8C4;
  top: 451px;
  left: 100px;
}

header .bg-circle7 {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 180px;
  background-color: #FAB8C4;
  top: 934px;
  left: 790px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .logo {
  margin-left: 100px;
}

.hero .nav-links {
  margin-left: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
}

.hero .choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.hero .search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: 386px;
}

.hero .search-btn .search-icon :nth-child(2) {
  display: none;
}

.hero .get-started a {
  width: 180px;
  height: 72px;
  padding: 24px 47px;
  border-radius: 20px;
  background: #FAB8C4;
  color: #2522BA;
}

.creating {
  position: relative;
  margin-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
  gap: 188px;
}

.creating .texts {
  max-width: 443px;
  max-height: 580px;
}

.creating h1 {
  color: #292930;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 99.327%;
  letter-spacing: -2.4px;
}

.creating h1 .liner {
  width: 70px;
  height: 8px;
  background-color: #2522BA;
  display: inline-block;
}

.creating h1 .point {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #2522BA;
  display: inline-block;
}

.creating p {
  max-width: 378px;
  max-height: 54px;
  color: var(--text-grey, #999FAE);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 24px;
  margin-bottom: 69px;
}

.creating .get-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.creating .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.creating .getsby a {
  padding: 29px 46px;
  border-radius: 20px;
  background: var(--color-primary, #5956E9);
  color: var(--color-white, #FFF);
}

.created {
  position: absolute;
  top: 0;
  left: 435px;
}

.computer-detals {
  position: relative;
}

.computer-detals :nth-child(2) {
  position: absolute;
  z-index: 3;
  right: -40px;
  top: 15px;
}

.computer-detals .bg-circle3 {
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 165px;
  background: var(--color-accent-01, #FFDC60);
  z-index: -1;
  overflow: hidden;
  top: 0px;
  left: 0px;
}

.computer-detals :nth-child(3) {
  position: absolute;
  z-index: 3;
  right: 590px;
  top: 300px;
}

.computer-detals :nth-child(4) {
  position: absolute;
  z-index: 3;
  right: 153px;
  top: 550px;
}
/*# sourceMappingURL=style.css.map */