@media (max-width:1024px){
  .container {
    max-width: 1024px;
  }

  header .bg-circle2 {
    width: 268px;
    height: 268px;
    border-radius: 268px;
    margin-top: -134px;
    margin-left: -134px;
  }

  header .bg-circle1 {
    margin-left: 649px;
    margin-top: -47px;
    width: 1118px;
    height: 1118px;
    border-radius: 1118px; 
  }

  .hero {
    flex-wrap: wrap;
  }

  .hero .logo {
    margin-left: 36px;
  }

  .hero .search-btn {
    margin-left: 72px;
  }

  .creating {
    margin-left: 72px;
  }

  header .bg-circle6{
    display: none;
  }

  header .bg-circle1{
    max-width: 1118px;
    max-height: 1118px;
  }

  .created {
    left: 390px;
  }

  header .bg-circle7 {
    width: 140px;
    height: 140px;
    border-radius: 140px;
    top: 954px;
    left: 651px;
  }

  .hero .search-btn .search-icon :nth-child(2) {
    display: block;
  }

  .hero .search-btn .search-icon :nth-child(1) {
    display: none;
  }

}